/dist
/node_modules
/logs
/.env
/.package-lock.json
/uploads
.codegpt
.idea
.vscode 
docs/CLIENT_ACCESS_CONTROL_GUIDE.md
docs/AI_BACKEND_IMPLEMENTATION_GUIDE.md
docs/AI_FRONTEND_IMPLEMENTATION_GUIDE.md
